<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="/assets/images/unpsjb.png">
      &nbsp;&nbsp;{{title}}
    </a>
    <a class="item" routerLink="/robots" routerLinkActive="active">Robots</a>
    <a class="item" >
      <div class="ui selection dropdown primary">
        Nueva Fase <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Clasificación</div>
          <div class="item">Eliminación</div>
          <div class="item">Final</div>
        </div>
      </div>
    </a>
  </div>
</div>
