<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="/assets/images/unpsjb.png">
      &nbsp;&nbsp;{{title}}
    </a>
    <a class="item" routerLink="/general" routerLinkActive="active">General</a>
    <a *ngFor="let fase of fases" class="item" [routerLink]="['/fase', fase.numero]" routerLinkActive="active">{{fase.nombre}}</a>
    <a class="item" *ngIf="estado && !estado.finalizado && !estado.compitiendo">
      <div class="ui selection dropdown primary">
        Nueva Fase <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Clasificación</div>
          <div class="item">Eliminación</div>
          <div class="item">Final</div>
          <div class="item">Ad Hoc</div>
        </div>
      </div>
    </a>
  </div>
</div>
