<table class="ui very striped basic celled small table" *ngIf="ronda">
  <thead>
    <tr>
      <th class="center aligned two wide">&nbsp;</th>
      <th class="center aligned six wide">Local</th>
      <th class="center aligned one wide">&nbsp;</th>
      <th class="center aligned one wide">&nbsp;</th>
      <th class="center aligned six wide">Visitante</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let encuentro of ronda.encuentros">
      <td *ngIf="estado && estado.encuentros.indexOf(encuentro.numero) != -1;else noEnCursoBlock">
        <div class="ui ribbon label green"><h3># {{encuentro.numero}}</h3></div>
      </td>
      <ng-template #noEnCursoBlock>
      <td class="left aligned">
        <h3># {{encuentro.numero}}</h3>
      </td>
      </ng-template>
      <td class="right aligned">
        <h4 class="ui image header">
          <img/>
          <div class="content">{{encuentro.robots[0].nombre}}&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <img src="/assets/images/escudos/{{encuentro.robots[0].escudo}}" class="ui large image">
        </h4>
      </td>
      <td class="center aligned" [ngClass]="{'positive': encuentro.puntos[0] > encuentro.puntos[1], 'negative': encuentro.puntos[0] < encuentro.puntos[1]}">
        <h1>{{encuentro.puntos[0]}}</h1>
      </td>
      <td class="center aligned" [ngClass]="{'positive': encuentro.puntos[0] < encuentro.puntos[1], 'negative': encuentro.puntos[0] > encuentro.puntos[1]}">
        <h1>{{encuentro.puntos[1]}}</h1>
      </td>
      <td class="left aligned">
        <h4 class="ui image header">
          <img src="/assets/images/escudos/{{encuentro.robots[1].escudo}}" class="ui large image">
          <div class="content">{{encuentro.robots[1].nombre}}</div>
        </h4>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="ronda && ronda.promovidos.length > 0">
  <h2>Promovidos</h2>
  <h4 class="ui image header" *ngFor="let robot of ronda.promovidos">
    <img src="/assets/images/escudos/{{robot.escudo}}" class="ui large image">
    <div class="content">{{robot.nombre}}</div>
  </h4>
</div>
