<div class="ui horizontal divider">
  <h1>{{nombre}}</h1>
</div>
GRUPO: {{grupo.estado | json}}
<div class="ui segment">
  <robots-score [robots]=robots></robots-score>
  <ronda *ngFor="let ronda of rondas" [ronda]=ronda></ronda>
  <br>
  <button 
    *ngIf="!grupo.estado.finalizado && !grupo.estado.compitiendo"
    (click)="agregarRonda(grupo.numero)"
    class="positive ui button" ><i class="plus icon"></i>Ronda
  </button>
</div>

<modal title="Nueva Ronda" class="basic" #rondaModal>
    <modal-content>
        <p>Hola</p>
    </modal-content>
</modal>