<div class="ui horizontal divider">
  <h1>{{grupo.nombre}}</h1>
</div>
<div class="ui segment">
  <score [robots]=robots></score>
  <ronda *ngFor="let ronda of rondas" [ronda]=ronda></ronda>
  <br>
  <button 
    *ngIf="!grupo.estado.finalizado && !grupo.estado.compitiendo && robots.length != 0"
    (click)="rondaModal.show()"
    class="positive ui button" ><i class="plus icon"></i>Ronda
  </button>
  <button 
    *ngIf="!grupo.estado.finalizado && !grupo.estado.compitiendo && robots.length == 0"
    (click)="completarGrupo()"
    class="primary ui button" ><i class="plus icon"></i>Completar
  </button>
</div>

<modal title="Nueva Ronda" class="mini" #rondaModal>
    <modal-content>
        <div class="ui checkbox">
          <input type="checkbox" name="example" #checkboxTct>
          <label>Todos contra todos</label>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" name="example" checked="checked" #checkboxEsc>
          <label>Priorizar encuentros entre distintas escuelas</label>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" name="example" #checkboxAllowNone>
          <label>Permitir encuentros sin resolver</label>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" name="example" checked="checked" #checkboxShuffle>
          <label>Mezclar robots antes de armar encuentros</label>
        </div>
    </modal-content>
    <modal-actions>
      <div (click)="agregarRonda()" class="ui positive button">Crear</div>
    </modal-actions>
</modal>