<div *ngIf="fase && fase.tipo === 'clasificacion'">
  <fase [fase]="fase"></fase>
</div>
<div *ngIf="fase && fase.tipo === 'final'">
  <fase [fase]="fase"></fase>
  <button 
    *ngIf="fase.estado.finalizado && fase.grupos.length === 2"
    (click)="armarFinal()"
    class="primary ui button" ><i class="plus icon"></i>Armar Final
  </button>
</div>
<div *ngIf="fase && fase.tipo === 'eliminacion'">
  <fase [fase]="fase"></fase>
</div>
<div *ngIf="fase && fase.tipo === 'adhoc'">
  <fase [fase]="fase"></fase>
</div>