<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hackathon</title>
</head>
  <body>
    <h1>Main</h1>
    <ul>
      <li><a href="http://localhost:4200">Web App</a></li>
      <li><a href="/fixture">GraphQL</a></li>
    </ul>
    <h1>Store</h1>
    <ul>
      <li><a href="/store/seguidor">Seguidor de Linea</a></li>
      <li><a href="/store/sumo">Sumo</a></li>
      <li><a href="/store/minisumo">Mini Sumo</a></li>
      <li><a href="/store/futbol">Futbol</a></li>
    </ul>
    <h1>Restore</h1>
    <ul>
      <li><a href="/restore/seguidor">Seguidor de Linea</a></li>
      <li><a href="/restore/sumo">Sumo</a></li>
      <li><a href="/restore/minisumo">Mini Sumo</a></li>
      <li><a href="/restore/futbol">Futbol</a></li>
    </ul>
    <h1>Cargar de Scrapper</h1>  
    <ul>
      <li><a href="/scrapper/Seguido">Seguidor de Linea</a></li>
      <li><a href="/scrapper/Sumo">Sumo</a></li>
      <li><a href="/scrapper/Mini Sumo">Mini Sumo</a></li>
      <li><a href="/scrapper/Futbol">Futbol</a></li>
    </ul>
    <h1>Tools</h1>
    <ul>
      <li><a href="/clean">Clean Fixture</a></li>
    </ul>
    <h1>Random Play</h1>  
    <ul>
      <li><a href="/faker/100">+100 Robots</a></li>
      <li><a href="/faker/50">+50 Robots</a></li>
      <li><a href="/faker/10">+10 Robots</a></li>
      <li><a href="/faker/5">+5 Robots</a></li>
      <li><a href="/faker/1">+1 Robots</a></li>
    </ul>
    Robots cargados: {{robots}}
  </body>
</html>