<div class="ui horizontal divider">
  <h3>{{nombre}}</h3>
</div>
<table class="ui very striped basic celled small table">
  <thead>
    <tr>
      <th class="center aligned one wide">&nbsp;</th>
      <th class="center aligned six wide">Local</th>
      <th class="center aligned one wide">&nbsp;</th>
      <th class="center aligned one wide">&nbsp;</th>
      <th class="center aligned six wide">Visitante</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let encuentro of ronda.encuentros">
      <td *ngIf="encuentro.estado.finalizado; else noFinalizadoBlock">
        <div class="ui ribbon label green"># {{encuentro.numero}}</div>
      </td>
      <ng-template #noFinalizadoBlock>
      <td class="left aligned">
        <div class="ui ribbon label red"># {{encuentro.numero}}</div>
      </td>
      </ng-template>
      <td class="right aligned">
        <h4 class="ui image header">
          <img/>
          <div class="content">{{encuentro.robots[0].nombre}}&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <img class="ui large image" 
            (click)="resultado($event, encuentro.numero, encuentro.robots[0].key)"
            src="/assets/images/escuelas/{{encuentro.robots[0].escuela}}.png">
        </h4>
      </td>
      <td class="center aligned" [ngClass]="{'positive': encuentro.puntos[0] > encuentro.puntos[1], 'negative': encuentro.puntos[0] < encuentro.puntos[1]}">
        <h1>{{encuentro.puntos[0]}}</h1>
      </td>
      <td class="center aligned" [ngClass]="{'positive': encuentro.puntos[0] < encuentro.puntos[1], 'negative': encuentro.puntos[0] > encuentro.puntos[1]}">
        <h1 *ngIf="encuentro.robots[1]">{{encuentro.puntos[1]}}</h1>
      </td>
      <td class="left aligned">
        <h4 *ngIf="encuentro.robots[1]; else noRobotBlock" class="ui image header">
          <img class="ui large image" 
            (click)="resultado($event, encuentro.numero, encuentro.robots[1].key)"
            src="/assets/images/escuelas/{{encuentro.robots[1].escuela}}.png">
          <div class="content">{{encuentro.robots[1].nombre}}</div>
        </h4>
        <ng-template #noRobotBlock>
          <button 
            class="ui primary button" 
            (click)="agregarAdversario($event, encuentro.numero)"
            data-tooltip="Repechaje con un perdedor aleatorio de la ronda en curso" 
            data-position="bottom center">Agregar Adversario
          </button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="ronda.promovidos && ronda.promovidos.length > 0">
  <div class="ui horizontal divider">
    <h5>Promovidos</h5>
  </div>
  <h4 *ngFor="let robot of ronda.promovidos" class="ui image header">
    <img class="ui large image"
      src="/assets/images/escuelas/{{robot.escuela}}.png">
      <div class="content">{{robot.nombre}} <div class="sub header">{{robot.encargado.nombre}}</div></div>
  </h4>
</div>
