<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="/assets/images/unpsjb.png">
      &nbsp;&nbsp;{{title}}
    </a>
    <a class="item" routerLink="/robots" routerLinkActive="active">Robots</a>
    <a *ngFor="let ronda of rondas$ | async" class="item" [routerLink]="['/ronda', ronda.numero]" routerLinkActive="active">Ronda {{ronda.numero}}</a>
    <a class="item" (click)="generarRonda()" ><div class="ui primary button">Nueva Ronda</div></a>
  </div>
</div>