<div class="ui statistics">
  <div class="green statistic">
    <div class="value">
      <img src="/assets/escudos/{{encuentro.robots[0].escudo}}" class="ui circular inline image">
      {{encuentro.puntos[0] || 0}}
    </div>
    <div class="label">
      {{encuentro.robots[0].nombre}}
    </div>
  </div>
  <div class="red statistic">
    <div class="value">
      <img src="/assets/escudos/{{encuentro.robots[1].escudo}}" class="ui circular inline image">
      {{encuentro.puntos[1] || 0}}
    </div>
    <div class="label">
      {{encuentro.robots[1].nombre}}
    </div>
  </div>
</div>